.App {
  text-align: center;
}

.modal-component {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 80%;
  min-height: 70%;
  top: 50%;
  right: 50%;
  position: absolute;
  transform: translate(50%, -50%);
  background-color: lightgreen;
  z-index: 4;
  border-radius: 50px;
}

.overlay {
  position: static;
}

.tail-spin-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  color: red;
}

#btn-close {
  position: absolute;
  background: rgb(99, 97, 97);
  border-radius: 5px;
  color: white;
  top: 0px;
  right: 0px;
}

#btn-delete {
  float: left;
}

#btn-submit {
  float: right;
}
