.App {
  text-align: center;
}

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 80%;
  min-height: 70%;
  top: 50%;
  right: 50%;
  position: absolute;
  transform: translate(50%, -50%);
  background-color: rgb(164, 233, 176);
  z-index: 5;
  border-radius: 50px;
}

.Overlay {
  position: static;
}

#btn-close {
  position: absolute;
  background: rgb(99, 97, 97);
  color: white;
  top: 0px;
  right: 0px;
}

#btn-delete {
  float: left;
}

#btn-submit {
  float: right;
}
